/*     font-family: 'Alegreya', serif;

    font-family: 'Poppins', sans-serif; */

/* main body styling */

* {
    box-sizing: border-box;
}

body {
    background-color: #F8F9Fd;
    color: #0D0402;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Alegreya', serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-family: 'Poppins', sans-serif;
}

li {
    font-family: 'Poppins', sans-serif;
}

section {
    scroll-margin-top: 4.2rem;
}

#bio,
#projects,
#skills,
#social,
#contact {
    padding: 0% 2% 3% 2%;
    border: #465559 .75px solid;
    border-radius: 6px;
}

a {
    color: #188FD9;
}

a:visited {
    color: #0D7BA6;
}

a:hover {
    color: #465559;
}

.grid {
    margin: 3% 2% 0 2%;
    display: grid;
    width: 96%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "bio      bio"
        "projects projects"
        "skills   social"
        "contact  contact";
    gap: .75rem;
}

@media only screen and (min-width: 640px) {
    .grid {
        margin: 4rem 2% 0 2%;
        display: grid;
        width: 96%;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "bio      bio      bio      skills"
            "projects projects projects projects"
            "contact  contact  contact  social";
        gap: 1rem 1rem;
    }
}

@media only screen and (min-width: 1100px) {
    .grid {
        margin: 4rem 2% 0 2%;
    }
}

li img {
    height: 3.5rem;
    width: auto;
    margin: 2rem 1rem;
}

@media only screen and (min-width: 640px) {
    li img {
        height: 5rem;
    }
}

/* navigation */

nav {
    background-color: #0D0402;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    border-bottom: #465559 2px solid;
    color: #F8F9Fd;
    height: 4rem;
}

.navContain {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}


.navContain a {
    list-style-type: none;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    text-decoration: none;
    color: #F8F9Fd;
    transition: all 800ms linear 200ms;

}

.navContain a:visited {
    color: #F8F9Fd;
}

.navContain a:hover {
    background-color: #F8F9Fd;
    color: #188FD9;
    border: #465559 1px solid;
    border-radius: 6px;
    padding: 5px 35px;
}

.navContain a:active {
    background-color: #465559;
    color: #188FD9;
    border: #F8F9Fd 1px solid;
    border-radius: 6px;
    padding: 5px 35px;
}

@media only screen and (max-width: 680px) {
    .navContain a {
        font-size: 1rem;
        margin: 1.25rem .75rem;
    }
    .navContain a:hover {
        padding: 3px 15px;
    }
    .navContain a:active {
        padding: 3px 15px;
    }
}

/* banner */

.banner {
    animation: careerChange 9s linear;
    background-image: url(../resources/images/keyboardBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: #0d0402;
    position: relative;
    padding: 10% 0;
    top: 3.5rem;
    height: 40rem;
    margin-bottom: 10px;
}

.banner h1,
.banner h2 {
    display: none;
}


@keyframes careerChange {
    0% {
        background-image: url(../resources/images/diamondSetterBG.png);
        opacity: 100%; 
    }
    45% {
        background-image: url(../resources/images/diamondSetterBG.png);
        opacity: 0%;
    }
    47% {
        background-image: url(../resources/images/keyboardBG.jpg);
        opacity: 2%;
    }
    100% {
        background-image: url(../resources/images/keyboardBG.jpg);
        opacity: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .banner {
        height: 30rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 850px) {
    .banner {
        height: 20rem;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 550px) {
    .banner {
        height: 15rem;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 430px) {
    .banner {
        height: 10rem;
    }
}


/* bio */

#bio {
    grid-area: bio;
}

#bio ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1525px) {
    #bio ul {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 1200px) {
    #bio ul {
        justify-content: space-evenly;
    }
}

#bio li {
    display: grid;
    margin: 1rem .2rem;
    padding: .5rem .25rem 1rem .25rem;
    height: 16rem;
    width: 12rem;
    text-align: center;
    list-style-type: none;
    background-color: rgba(24, 143, 217, .10);
    border: #465559 1px solid;
    border-radius: 6px;
}


@media only screen and (max-width: 1100px) {
    #bio li {
        height: 13rem;
        width: 12rem;
        margin:.75rem .1rem;
        padding: 0 .25rem 0 .25rem;
    }
    #bio li h3 {
        margin-top: 0;
        font-size: 1.5rem;
        line-height: .75rem;
    }
    #bio li img {
        margin: 0;
    }
}

#bio li h3 {
    line-height: 2.25rem;
    margin-top: .25rem;
}

#bio li:hover {
    background-color: rgba(24, 143, 217, .35);
}

#bio li:active {
    background-color:#0D7BA6;
    color:#F8F9Fd;
}

.visB,
.visA {
    grid-column: 1;
    grid-row: 1;
}

.visA {
    opacity: 100%;
}

.visB {
    opacity: 0%;
    align-self: center;
    font-size: .95rem;
    line-height: 1.15rem;
}

#bio li img {
    margin: 2px 0 0 0;
}

/* projects */

#projects {
    grid-area: projects;
}

#projects ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projects li {
    list-style-type: none;
    background-color: #EBEBEB;
    display: grid;
    grid-template: repeat(2, 1fr) .5fr / repeat(6, 1fr);
    border: 1px #465559 solid;
    border-radius: 6px;
    padding: 1rem 2rem;
    margin: 3rem 3rem;
    width: fit-content;
    height: fit-content;
}

.pc {
    grid-area: 1 / 1 / 3 / 6;
    width: 84%;
    height: auto;
    border: #465559 .75px solid;
}

.mobile {
    grid-area: 2 / 5 / 5 / 6;
    width: 75%;
    height: auto;
    margin: 15% 15% 0% 15%;
}

.worms h3,
.club h3 {
    grid-area: 1 / 6 / 2 / 7;
    align-self: end;
}

.worms p,
.club p {
    grid-area: 2 / 6 / 3 / 7;
}


.xl {
    grid-area: 1 / 2 / 5 / 4;
    margin-left: 0%;
    width: 100%;
    height: auto;
    border: #465559 .75px solid;
}

.checker h3 {
    grid-area: 1 / 5 / 2 / 7;
    align-self: end;
    margin-left: 5%;
}

.checker p {
    grid-area: 2 / 5 / 3 / 7;
    margin-left: 5%;
}

@media only screen and (max-width: 1500px) {
    #projects li {
        grid-template: repeat(2, 1fr) .5fr / repeat(5, 1fr) 2fr;
    }
}

@media only screen and (max-width: 1200px) {
    #projects li {
        grid-template: repeat(2, 1fr) .75fr / repeat(4, 1fr);
    }
    .pc {
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .mobile {
        grid-area: 2 / 3 / 4 / 5;
        width: 35%;
        height: auto;
        margin: 18% 0 0 70%;
    }
    .worms h3,
    .club h3 {
        grid-area: 4 / 2 / 5 / 4;
        align-self: end;
    }
    .worms p,
    .club p {
        grid-area: 5 / 2 / 6 / 4;
    }
    .xl {
        grid-area: 1 / 1 / 3 / 5;
        margin: 2rem auto 5rem auto;
        width: 65%;
        height: auto;
    }
    .checker h3 {
        grid-area: 2 / 1 / 3 / 5;
        align-self: end;
    }
    .checker p {
        grid-area: 3 / 1 / 4 / 5;
    }
}

@media only screen and (max-width: 700px) {
    .worms h3,
    .club h3 {
        grid-area: 4 / 1 / 5 / 5;
        align-self: normal;
    }
    .worms p,
    .club p {
        grid-area: 5 / 1 / 6 / 5;
    }
    .xl {
        grid-area: 1 / 1 / 3 / 5;
        margin: 0 2rem 7.5rem 0;
        width: 100%;
        height: auto;
    }
    .checker h3 {
        margin-top: 0;
        grid-area: 2 / 1 / 3 / 5;
    }
    .checker p {
        grid-area: 3 / 1 / 4 / 5;
    }
}





/* skills */

#skills {
    grid-area: skills;
    text-align: center;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#skills li {
    list-style-type: none;
    margin: .5rem .75rem;
}





/* social */

#social {
    grid-area: social;
    text-align: center;
}

#social ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 15%;
}

#social li {
    list-style-type: none;
    margin: .2rem .5rem;
}

@media only screen and (min-width: 640px) {
    #social img {
        height: 5rem;
    }
}


/* contact */

#contact {
    grid-area: contact;
}


.container {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2%;
}

form {
    display: grid;
    grid-template: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 6fr;
    border: #465559 .75px solid;
    padding: 1% 1% 3% 1%;
}

form label {
    margin: 6% 0 1.5%;
}

.container img {
    width: 25%;
    height: auto;
    border: 2px #465559 solid;
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .container img {
        margin-top: 3%;
        width: 40%;
    }
}

/* footer */

footer {
    margin: 1rem 3rem;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    font-size: .75rem;
    color: gray;
}